@model TheBugTracker.Models.ViewModels.AssignDeveloperViewModel


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mt-4 mb-4">@Model.Ticket.Title</h4>
            Project: &nbsp;<a style="font-size:small" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Ticket.ProjectId">@Model.Ticket.Project.Name</a>
            <div class="card mt-4">
                <div class="card-header">
                    <label class="control-label">Assign Developer to Ticket</label>

                </div>
                <div class="card-body">
                    <form method="post" asp-action="AssignDeveloper" asp-controller="Tickets">
                        <input type="hidden" asp-for="Ticket.Id" />
                        <input type="hidden" asp-for="Ticket.ProjectId" />
                        <p>Description: @Model.Ticket.Description</p>

                        <div class="form-group">
                            <label class="col-form-label">Select Developers</label>
                            <select required asp-for="DeveloperId" class="form-control" asp-items="@Model.Developers"></select>
                            <option value="none" selected disabled hidden>
                                &#11167;
                            </option>
                        </div>
                        <div>If Member/s not showing, Assign Member to Developer Role and Add Member to your Team.
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Assign" class="btn btn-actions" />
                            <a onclick="javascript:history.back()" class="btn btn-cancel ms-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn-back" onclick="javascript:history.back()">Back</a>
    </div>
</div>