@model TheBugTracker.Models.Ticket

@using TheBugTracker.Services.Interfaces
@using TheBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using static TheBugTracker.Models.TicketHistory
@using TheBugTracker.Models


@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService
@inject IBTTicketHistoryService HistoryService
@inject IBTFileService FileService

@{
    ViewData["Title"] = "Details";
    BTUser btUser = await UserManager.GetUserAsync(User);
    BTUser ProjectManager = await ProjectService.GetProjectManagerAsync(Model.ProjectId);
}

@* <h2>Project: @Model.Project.Name</h2> *@

<div>
    <div class="container-fluid">
        @* ticket card *@
        <span id="ticketsIcon"><i class="bi-file-earmark-font"></i> Ticket Details &nbsp;
            @if (User.IsInRole(nameof(Roles.Administrator)) || User.IsInRole(nameof(Roles.ProjectManager)))
            {
                <a asp-action="Edit" class="btn btn-actions" asp-route-id="@Model.Id">Edit</a>
                @if (Model.Archived)
                {
                    <a asp-action="Restore" class="btn btn-actions" asp-route-id="@Model.Id">Restore</a>
                }
                else
                {
                    <a asp-action="Archive" class="btn btn-actions" asp-route-id="@Model.Id">Archive</a>
                }
            }
        </span>
        <div class="detail-card-container mb-5">
            <div class="detail-card-section">
                <div class="detail-card-wrapper">
                    <div class="detail-card-content">
                        <div id="observe-area" class="detail-card-header">
                        </div><!--card header-->
                        <div class="detail-card-body">
                            @* <h5>Ticket Name:</h5> *@
                            <p> <strong>@Model.Title</strong></p>
                            <hr />
                            <p>Description:</p>
                            <p> @Model.Description</p>
                            <hr />
                            <ul class="list-unstyled">
                                <li><span>Deadline:  @Model.Project.EndDate.ToString("dd MMM, yyyy")</span></li>
                                <li>
                                    @if (Model.TicketType.Name == "NewDevelopment")
                                    {
                                        <span>Type: New Development</span>
                                    }
                                    else if (Model.TicketType.Name == "WorkTask")
                                    {
                                        <span>Type: Work Task</span>
                                    }
                                    else if (Model.TicketType.Name == "ChangeRequest")
                                    {
                                        <span>Type: Change Request</span>
                                    }
                                    else if (Model.TicketType.Name == "GeneralTask")
                                    {
                                        <span>Type: General Task</span>
                                    }
                                    else
                                    {
                                        <span>Type: @Model.TicketType.Name</span>
                                    }
                                </li>
                                <li><span>Priority: @Model.TicketPriority.Name</span></li>
                                <li><span>Status: @Model.TicketStatus.Name</span></li>
                            </ul>
                        </div><!--card body-->
                        <hr />
                        <p>
                            Project: &nbsp; <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="color:blue">
                                @Model.Project.Name
                            </a>
                        </p>
                        @* <div class="detail-card-actions">
                            @if (User.IsInRole(nameof(Roles.Administrator)) || User.IsInRole(nameof(Roles.ProjectManager)))
                            {
                                <a asp-action="Edit" class="btn btn-actions" asp-route-id="@Model.Id">Edit</a>
                                @if (Model.Archived)
                                {
                                    <a asp-action="Restore" class="btn btn-actions" asp-route-id="@Model.Id">Restore</a>
                                }
                                else
                                {
                                    <a asp-action="Archive" class="btn btn-actions" asp-route-id="@Model.Id">Archive</a>
                                }
                            }
                        </div><!--card footer--> *@
                    </div> <!--card content-->
                    <div class="detail-card-dates">
                        <div class="detail-card-pm mt-2">
                            <p>Created on @Model.Created.ToString("MM/dd/yyyy") by:</p>
                            <div class="d-flex align-items-center mb-2">
                                <div class="media">
                                    @if (Model.OwnerUser?.AvatarFileData != null)
                                    {
                                        <img class="rounded-circle" style="width:50px;height:50px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.OwnerUser.AvatarFileData))" />
                                    }
                                    else
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:50px;height:50px;" src="~/image/defaultUserImage.png" />
                                    }
                                </div>
                                <div class="">
                                    <span class="ms-2">@Model.OwnerUser?.FullName</span>
                                    @* <span class="ms-1" style="font-size:x-small">[@((await UserManager.GetRolesAsync(developer)).FirstOrDefault())]</span> *@
                                </div>
                            </div>
                            <hr />
                            <p><strong>Project Manager:</strong></p>
                            <div class="d-flex align-items-center mb-2">
                                @if (ProjectManager != null){
                                <div class="media">
                                    @if (ProjectManager?.AvatarFileData != null)
                                    {
                                        <img class="rounded-circle" style="width:50px;height:50px;" src="data:image/*;base64,@(Convert.ToBase64String(ProjectManager.AvatarFileData))" />
                                    }
                                    else
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:50px;height:50px;" src="~/image/defaultUserImage.png" />
                                    }
                                </div>
                                <div class="">
                                    <span class="ms-2">@ProjectManager?.FullName</span>
                                </div>
                                }else{
                                    <div>
                                        <div class="wid-u-info">
                                            @if (User.IsInRole(nameof(Roles.Administrator)))
                                            {
                                                <span><a asp-action="AssignPM" asp-route-projectId="@Model.Id" class="btn btn-actions">Assign PM</a></span>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div><!--card footer-->
                        <div class="detail-card-developer mt-2">
                            <hr />
                            <p><strong>Assigned To:</strong></p>
                            <div class="d-flex align-items-center mb-4">
                                @* if unassigned show assign dev button *@
                                @if (Model.DeveloperUserId != null)
                                {
                                    <div class="media">
                                        @if (Model.DeveloperUser?.AvatarFileData != null)
                                        {
                                            <img class="rounded-circle" style="width:50px;height:50px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.DeveloperUser.AvatarFileData))" />
                                        }
                                        else
                                        {
                                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:50px;height:50px;" src="~/image/defaultUserImage.png" />
                                        }
                                    </div>
                                    <div class="">
                                        <span class="ms-2">@Model.DeveloperUser?.FullName</span>
                                    </div>
                                }
                                else
                                {
                                    if (User.IsInRole(nameof(Roles.Administrator)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                    {
                                        <a class="btn btn-sm btn-actions" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@Model.Id">Assign Dev</a>
                                    }
                                }
                            </div>
                        </div><!--card footer-->
                    </div><!--card footer-->
                </div><!--card wrapper-->
            </div><!--card section-->
        </div><!--card container-->
        @* COMMENTS *@
        <span id="ticketsIcon"><i class="bi bi-chat-right-text"></i> &nbsp;Comments</span>
        <div class="card card-shadow p-4 mb-5">
            <div class="detail-card-header m-0">
            </div>
            <div class="detail-card-body ticket-comments">

                @* IF IS NULL FOR COMMENTS NOT WORKING *@
                @if (Model.Comments != null)
                {
                    @foreach (TicketComment comment in Model.Comments)
                    {
                        <div class="row w-100">
                            <div class="col-sm-4">
                                <div>
                                    @if (btUser?.AvatarFileData != null)
                                    {
                                        <img class="rounded-circle" style="width:60px;height:60px;" src="data:image/*;base64,@(Convert.ToBase64String(comment.User.AvatarFileData))" />
                                    }
                                    else
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:60px;height:60px;" src="~/image/defaultUserImage.png" />
                                    }
                                </div>
                                <div>
                                    <span class="text-muted" style="font-size:x-small;">
                                         @comment.User.FullName
                                        <small class="float-right">@comment.Created.ToString("dd MMM, yyyy")</small>:
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <span class="message text-primary clearfix">@Html.Raw(comment.Comment)</span>
                            </div>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <p>No comments posted.</p>
                }
            </div>
            <div class="detail-card-footer">
                <form class="form-horizontal form-bordered" asp-action="AddTicketComment" asp-controller="Tickets" method="post">
                    <input type="hidden" asp-for="Id" name="TicketId" />
                    @if (Model.DeveloperUserId == btUser.Id || Model.OwnerUserId == btUser.Id || ProjectManager?.Id == btUser.Id ||
                    User.IsInRole(nameof(Roles.Administrator)))
                    {
                        <div class="form-group">
                            <textarea asp-for="@(new TicketComment().Comment)" rows="2" class="form-control" required placeholder="Add Comment..."></textarea>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-sm btn-actions">Post</button>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <textarea disabled asp-for="@(new TicketComment().Comment)" rows="8" class="form-control" required placeholder="Add Comment..."></textarea>
                        </div>
                    }
                </form>
            </div>
        </div>

        @* ATTACHMENTS *@
        <span id="ticketsIcon"><i class="bi bi-paperclip"></i> Attachments</span>
        <div class="card card-shadow p-4 mb-5">
            <div class="detail-card-header">
            </div>
            <div class="detail-card-body attachments-list">
                <div class="attachments-container">
                    <div class="list">
                        <ul>
                            <li>Download</li>
                            <li>File Name</li>
                            <li>Uploader</li>
                            <li>Date</li>
                            <li>Description</li>
                        </ul>
                        @foreach (TicketAttachment item in Model.Attachments)
                        {
                            <ul>
                                <li data-label="Download">
                                    <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                        <div class="icon">
                                            <img src="@FileService.GetFileIcon(item.FileName)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
                                        </div>
                                    </a>
                                </li>
                                <li data-label="File Name">@item.FileName</li>
                                <li data-label="Uploader">@item.User.FullName</li>
                                <li data-label="Date">@item.Created.ToString("dd MMM yyyy")</li>
                                <li data-label="Description">@item.Description</li>
                            </ul>
                        }
                    </div>
                </div>
            </div>@if (Model.DeveloperUserId == btUser.Id || Model.OwnerUserId == btUser.Id || ProjectManager?.Id == btUser.Id ||
             User.IsInRole(nameof(Roles.Administrator)))
            {
                <div class="detail-card-body">
                    <div>
                        <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Id" name="TicketId">
                            <div class="media-body ml-3 mt-2">
                                <label class="form-label w-100" for="customFile">
                                    Attach File
                                    <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" class="form-control" id="customFile" />
                                </label><br />
                                <label class="w-100 mt-2">
                                    Description
                                    <textarea id="description" asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control mb-2" rows="2"></textarea>
                                </label>
                                <div>
                                    <button type="submit" class="btn btn-actions btn-sm mt-2">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
                </div>

        @* HISTORY *@
        <span id="ticketsIcon"><i class="bi bi-clock-history"></i> &nbsp;History</span>
        <div class="card card-shadow p-4">
            <div class="detail-card-header">
            </div>
            <div class="detail-card-body">
                @foreach (TicketHistory history in Model.History)
                {
                    <div class="">
                        <span class="date"><b>@history.Created.ToString("dd MMM yyyy")</b></span>
                        <h6>@history.Description</h6>
                        <span>By: @history.User.FullName</span>
                        <div class="">
                            @if (history.Description.Contains("New Ticket Created"))
                            {
                                <p>A Ticket was added.</p>
                            }
                            else if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                            {
                                <p>A <b>@history.Property</b> was added.</p>
                            }
                            else
                            {
                                <p>The ticket <b>@history.Property</b> was edited</p>
                                <p>@($"Previous {history.Property}:  ") <span style="color:red">@history.OldValue</span></p>
                                <p>@($"Current {history.Property}:  ") <span style="color:green">@history.NewValue</span></p>
                            }

                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn-back" onclick="javascript:history.back()">Back</a>
</div>
@section scripts {
    <script>
        var description = document.getElementById("description");
        description.innerHTML = "";
        description.value = "";
    </script>
}