@model TheBugTracker.Models.Notification

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Notification Det</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            From
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.FullName)
        </dd>
        <dt class="col-sm-2">
            To
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipient.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class="col-sm-10">

            <a asp-action="Details" asp-controller="Tickets" asp-route-id="@Model.TicketId">@Model.TicketId</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viewed)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-actions" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a onclick="javascript:history.back()" class="btn btn-cancel ms-2">Cancel</a>
</div>
