@model IEnumerable<TheBugTracker.Models.Project>
@using TheBugTracker.Services.Interfaces
@using TheBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "Archived Projects";
    BTUser bTUser = await UserManager.GetUserAsync(User);
}

<h1>Archived Projects</h1>


<div class="projects-container">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Name</div>
            <div class="col col-2">Description</div>
            <div class="col col-3">Start Date</div>
            <div class="col col-4">End Date</div>
            <div class="col col-5">Priority</div>
            <div class="col col-6"></div>
        </li>
        @foreach (var project in Model.OrderByDescending(d => d.StartDate))
        {
            <li class="table-row">
                <div class="col col-1" data-label="Project">
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" style="color:black">
                        <strong>@project.Name</strong>
                    </a>
                </div>
                <div class="col col-2" data-label="Description">@project.Description</div>
                <div class="col col-3" data-label="Start Date">@project.StartDate.ToString("MM/dd/yyyy")</div>
                <div class="col col-4" data-label="End Date">@project.EndDate.ToString("MM/dd/yyyy")</div>
                @if (project.ProjectPriority.Name == "Low")
                {
                    <div class="col col-5" data-label="Priority Status"><span class="badge-low">@project.ProjectPriority?.Name</span></div>
                }
                else if (project.ProjectPriority.Name == "Medium")
                {
                    <div class="col col-5" data-label="Priority Status"><span class="badge-medium">@project.ProjectPriority?.Name</span></div>

                }
                else if (project.ProjectPriority.Name == "High")
                {
                    <div class="col col-5" data-label="Priority Status"><span class="badge-high">@project.ProjectPriority?.Name</span></div>

                }
                else if (project.ProjectPriority.Name == "Urgent")
                {
                    <div class="col col-5" data-label="Priority Status"><span class="badge-urgent">@project.ProjectPriority?.Name</span></div>
                }
                <div class="col col-6" data-label="">
                    <a class="" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                </div>
            </li>
        }
    </ul>
</div>
