@model TheBugTracker.Models.Project
@using TheBugTracker.Models.Enums
@using TheBugTracker.Models;
@using TheBugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService
@inject IBTTicketHistoryService HistoryService

@{
    ViewData["Title"] = "Details";
    BTUser btUser = await UserManager.GetUserAsync(User);
    BTUser projectManager = await ProjectService.GetProjectManagerAsync(Model.Id);
    var start = Model.StartDate.DateTime;
    var end = Model.EndDate.DateTime;
    var today = DateTime.Now;
    var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
}

@*<h2>@Model.Company.Name</h2>*@

<div>
    <div class="container-fluid">
        <div class="row gy-2">
            @* project card *@
            <span id="projectsIcon"><i class="bi-file-earmark-ppt"></i> Project Details &nbsp;
                @if (User.IsInRole(nameof(Roles.Administrator)) || User.IsInRole(nameof(Roles.ProjectManager)))
                {
                    <a asp-action="Edit" class="btn btn-actions" asp-route-id="@Model.Id">Edit</a>
                    @if (Model.Archived)
                    {
                        <a asp-action="Restore" class="btn btn-actions" asp-route-id="@Model.Id">Restore</a>
                    }
                    else
                    {
                        <a asp-action="Archive" class="btn btn-actions" asp-route-id="@Model.Id">Archive</a>
                    }
                }
            </span>
            <div class="detail-card-container">
                <div class="detail-card-section">
                    <div class="detail-card-wrapper">
                        <div class="detail-card-header">
                            <h3 class="header-text">@Model.Name</h3><div class="detail-card-image">
                                @if (Model.FileData != null)
                                {
                                    <img id="imageFileData" class="img-fluid img-thumbnail" style="max-width:400px;max-height:400px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.FileData))" />
                                }
                                else
                                {
                                    <img id="imageFileData" class="img-fluid img-thumbnail" style="max-width:400px;max-height:400px;" src="~/image/analytics-process-outline.svg" />
                                }
                            </div> <!--card iamge-->
                        </div><!--card header-->
                        
                        <div class="detail-card-content">
                            <div class="detail-card-body">
                                <p class="detail-body-text">
                                    @Model.Description
                                </p>
                                <ul>
                                    <li>Start Date: <span class="">@Model.StartDate.ToString("dd MMM, yyyy")</span></li>
                                    <li>Deadline: <span class="">@Model.EndDate.ToString("dd MMM, yyyy")</span></li>
                                </ul>
                                <ul>
                                    <li>Priority: <span class="">@Model.ProjectPriority?.Name</span></li>

                                    @if (today < end && today >= start)
                                    {
                                        <li>Status: <span class="">Active</span></li>
                                    }
                                    else
                                    {
                                        <li>Status: <span class="">Inactive</span></li>
                                    }
                                </ul>
                                <div class="detail-card-status progress-container progress-info mt-3">
                                    <span>Progress:</span>
                                    <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 20px;border-radius: 10px;">
                                        <div class="progress-bar" style="width: @percent%;font-size:1rem;border-radius: 10px;">@percent%</div>
                                    </div>
                                </div>
                            </div><!--card body-->
                        </div> <!--card content-->
                    </div><!--card wrapper-->
                </div><!--card section-->
            </div><!--card container-->
        </div> @* end row *@
        @* project card end *@
        @* team and activity cards *@
        <div class="row row-cols-1 row-cols-md-2 gy-2 mt-3">
            <div class="col">
                @* team card *@
                <span id="projectsIcon"><img src="~/image/microsoft-teams.svg" style="width:40px;"/>Project Team</span>
                <div class="card project-manager-card">
                    <div class="card-body">
                        <h3 class="card-title">Project Manager</h3>
                        <hr />
                        <div class="body" style="overflow-y:auto;height:400px;">
                            @if (projectManager != null)
                            {
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        @if (projectManager.AvatarFileData != null)
                                        {
                                            <img class="rounded-circle" style="width:60px;height:60px;" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarFileData))" />
                                        }
                                        else
                                        {
                                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:60px;height:60px;" src="~/image/defaultUserImage.png" />
                                        }
                                    </div>
                                    <div class="">
                                        <h5>@projectManager.FullName</h5>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        @if (User.IsInRole(nameof(Roles.Administrator)) || (btUser.Id == projectManager.Id))
                                        {
                                            <a class="btn btn-actions mb-3 mt-3" style="font:small;" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@Model.Id">Manage Team</a>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <div class="wid-u-info">
                                        @if (User.IsInRole(nameof(Roles.Administrator)))
                                        {
                                            <span><a asp-action="AssignPM" asp-route-projectId="@Model.Id" class="btn btn-actions">Assign PM</a></span>
                                        }
                                    </div>
                                </div>
                            }
                            <hr />
                            <h3 class="card-title">Project Members</h3>
                            <hr />
                            <ul class="right_chat list-unstyled mb-0">
                                @foreach (BTUser member in await ProjectService.GetAllProjectMembersExceptPMAsync(Model.Id))
                                {
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="media">
                                            @if (member.AvatarFileData != null)
                                            {
                                                <img class="rounded-circle" style="width:50px;height:50px;" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" />
                                            }
                                            else
                                            {
                                                <img id="imageFileData" class="img-fluid img-thumbnail" style="width:50px;height:50px;" src="~/image/defaultUserImage.png" />
                                            }
                                        </div>
                                        <div class="">
                                            <span class="ms-2">@member.FullName</span>
                                            <span class="ms-1" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                                        </div>
                                    </div>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>@* end team card *@
            <div class="col">
                @* activity card *@
                <span id="projectsIcon" class=""><i class="bi bi-clock-history"></i> Project Activity</span>
                <div class="card activity-log-card">
                    <div class="card-body">
                        <div class="body" style="overflow-y:auto;height:468px;padding:3px;">
                            @foreach (TicketHistory history in await HistoryService.GetProjectTicketsHistoriesAsync(Model.Id, btUser.CompanyId))
                            {
                                <div class="">
                                    <span class="date fw-semibold">@history.Created.ToString("dd MMM, yyyy")</span>
                                    <h6>@history.Description</h6>
                                    <span>By: @history.User.FullName</span>
                                    <div class="">
                                        <p>The ticket <b>@history.Property</b> was edited</p>
                                        <p>@($"Previous {history.Property}:  ") <span style="color:red">@history.OldValue</span></p>
                                        <p>@($"Current {history.Property}:  ") <span style="color:green">@history.NewValue</span></p>

                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                    </div>
                </div>
            </div> @* end activity card *@
        </div>@* team and activity cards end *@
        @* *********************************************************************

        TICKET CARDS

        ***************************************************************************@
        <span id="ticketsIcon">
            <i class="bi-file-earmark-font me-2"></i>Active Tickets&nbsp; 
            @if (User.IsInRole(nameof(Roles.Administrator)) || User.IsInRole(nameof(Roles.ProjectManager)))
            {
                <a class="btn btn-actions" asp-area="" asp-controller="Tickets" asp-action="Create" asp-route-projectId="@Model.Id">Add Ticket</a>
            }
        </span>
        <div class="dashboard-ticket-container">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Title</div>
                    <div class="col col-2">Developer</div>
                    <div class="col col-3">Type</div>
                    <div class="col col-4">Priority</div>
                    <div class="col col-5">Status</div>
                    <div class="col col-6">Date</div>
                </li>
                @foreach (var ticket in Model.Tickets.Where(t => t.Archived == false).OrderByDescending(d => d.Created))
                {
                    <li class="table-row">
                        <div class="col col-1" data-label="Ticket">
                            <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a>
                        </div>
                        <div class="col col-2" data-label="Developer">
                            @if (ticket.DeveloperUserId != null)
                            {
                                @ticket.DeveloperUser?.FullName
                            }
                            else
                            {
                                if (User.IsInRole(nameof(Roles.Administrator)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                {
                                    <a class="btn btn-sm btn-actions" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@ticket.Id">Assign Dev</a>
                                }

                            }
                        </div>
                        @* TICKET TYPE *@
                        @if (@ticket.TicketType.Name == "NewDevelopment")
                        {
                            <div class="col col-3" data-label="Ticket Type">New Development</div>
                        }
                        else if (@ticket.TicketType.Name == "WorkTask")
                        {
                            <div class="col col-3" data-label="Ticket Type">Work Task</div>
                        }
                        else if (@ticket.TicketType.Name == "ChangeRequest")
                        {
                            <div class="col col-3" data-label="Ticket Type">Change Request</div>
                        }
                        else if (@ticket.TicketType.Name == "GeneralTask")
                        {
                            <div class="col col-3" data-label="Ticket Type">General Task</div>
                        }
                        else
                        {
                            <div class="col col-3" data-label="Ticket Type">@ticket.TicketType.Name</div>
                        }
                        @* TICKET PRIORITY *@
                        <div class="col col-4" data-label="Ticket Priority">@ticket.TicketPriority.Name</div>
                        @* TICKET STATUS *@
                        <div class="col col-5" data-label="Ticket Status">@ticket.TicketStatus.Name</div>
                        <div class="col col-6" data-label="Date">@ticket.Created.ToString("MM/dd/yyyy")</div>
                    </li>
                }
            </ul>
        </div>
        @* END TICKETS *@
    </div>
</div>
<div>
    <a class="btn-back" onclick="javascript:history.back()">Back</a>
</div>

